<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <%- include("head", locals) %>
</head>

<body class="preload">
    <%- include("navigation", locals) %>
    <div class="content">
        <h1>Start a build</h1>
        <form action="/build" method="post" class="grid-2col">
            <label for="repoTxt">Repo</label> <input type="text" name="repo" id="repoTxt" required />
            <label for="commitTxt">Commit</label> <input type="text" name="commit" id="commitTxt" />
            <label for="distroTxt">Distro</label>
            <select name="distro" id="distroTxt" required>
                <option value="arch">Arch</option>
                <option value="artix">Artix</option>
            </select>
            <div class="span-2"><button type="submit">Build</button></div>
        </form>
    </div>
</body>
</html>
