<div class="content footer">
    <footer>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Developed by Cory Sanin</li>
            <li><a href="https://github.com/CorySanin/archery">Source</a></li>
        </ul>
    </footer>
</div>