<div class="sidebar">
    <div class="sidebar_logo">
        <a href="/"><img src="/assets/svg/archery.svg" alt="Archery icon" /></a>
    </div>
    <div class="sidebar_search">
        <form action="/" method="get">
            <input type="text" name="q" placeholder="Search..." />
        </form>
    </div>
    <nav>
        <ul class="sidebar_links">
            <li><a href="/">All Builds</a></li>
            <li><a href="/?status=error">Failed Builds</a></li>
            <li><a href="/?distro=arch">Arch Builds</a></li>
            <li><a href="/?distro=artix">Artix Builds</a></li>
            <li><a href="/build">New Build</a></li>
        </ul>
    </nav>
</div>