@media screen and (max-width:65rem) {

    .sidebar {
        width: 100%;
        height: auto;
        position: initial;
        text-align: center;

        .sidebar_search form {
            width: 18em;
            margin: auto;
        }
    }

    .content {
        margin-left: 0;
    }
}
